name: open-synapse-backend-env

services:
  restate:
    container_name: restate-hub
    image: restatedev/restate:latest
    ports:
      - "${restatePort}:8080"
      - "${restateAdminPort}:9070"
    volumes:
      - restate_data:/restate-data
    environment:
      - RESTATE_NODE_NAME=Open Synapse Restate Hub (development)
  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "${pgsqlPort}:5432"
    environment:
      - POSTGRES_USER=${pgsqlUser}
      - POSTGRES_PASSWORD=${pgsqlPassword}
      - POSTGRES_DB=${pgsqlDatabase}
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  restate_data:
  pg_data: